<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>

<ul id="task-list">
    <th:block th:each="task : ${tasks}">
        <li th:fragment="taskItem (task)">
            <div>
                <h2 th:text="${task.title}">Task Name</h2>
                <p th:if="${task.tags != null && !task.tags.isEmpty()}">
                    <strong>Tags:</strong>
                    <span style="padding: 5px;margin: 2px;background: lightgrey; border-radius: 5px"
                          th:each="tag : ${task.tags}" th:text="${tag.name}">Tag Name</span>
                </p>
                <p th:if="${task.dueDate != null}">
                    <strong>Due Date:</strong> <span class="due-date" th:text="${task.dueDate}">Due Date</span>
                </p>
                <p th:if="${task.description != null && !task.description.isEmpty()}">
                    <strong>Description:</strong> <span th:text="${task.description}">Description</span>
                </p>
                <p>
                    <strong>Status:</strong> <span th:text="${task.completed ? 'Completed' : 'Not Completed'}"></span>
                </p>

            </div>

            <form th:action="@{/tasks/{id}/complete(id=${task.id})}" method="post">
                <button type="submit" th:disabled="${task.completed || !allSubTasksCompleted[task.id]}">Complete</button>
            </form>

            <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                <button type="submit">Delete</button>
            </form>

            <ul th:if="${task.subTasks != null && !task.subTasks.isEmpty()}">
                <th:block th:each="subtask : ${task.subTasks}">
                    <div th:insert="~{::taskItem (task=${subtask})}"></div>
                </th:block>
            </ul>
        </li>
    </th:block>
</ul>
<p><a href="/tasks/new">Add New Task</a></p>
<p><a href="/">Back to main page</a></p>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dueDateElements = document.querySelectorAll('.due-date');
        dueDateElements.forEach(function(element) {
            const date = new Date(element.textContent);
            element.textContent = date.toLocaleString();
        });
    });
</script>

</body>
</html>